<!DOCTYPE html>
<html>
  <head>
    <title>Wind Yield Dashboard</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<!--    <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>-->

    <!-- jsFiddle will insert style.css and js.js -->
        <!-- style.css -->

<!--    <link rel="stylesheet" type="text/css" href="./style.css" />-->
<!--    <script src="./js.js"></script>-->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js.js') }}"></script>



  </head>
  <body>
    <h3>Wind Yield App</h3>
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCub4bXKvVlmdJEpZ_CgGR8J6hxIz43i2A&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>tml>
